<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvJM6RvXcony7lKDHjRyb28rzmFcLYOtg</string>
	<key>GCM_SENDER_ID</key>
	<string>850335019121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.RealtimeTracker</string>
	<key>PROJECT_ID</key>
	<string>realtimetracker-a186f</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimetracker-a186f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850335019121:ios:e8bfa2c08c710e2199abd0</string>
</dict>
</plist>